@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.css";

@layer base {
  * {
    border-color: #e5e7eb;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
